body {
    width: 1440px;
    margin: 0 auto;
    padding: 0 3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(25deg, #1446a1, #266d96, #6391e7);
    padding: 1rem 4rem;
    
    a {
        color: #fff;
        text-decoration: none;
    }

    .navigation {
        display: flex;
        align-items: center;
        width: 45%;
        justify-content: space-between;

        .brand {
            font-size: 2rem;
        }
        
        nav {
            width: 70%;
        }

        nav.menu ul {
            display: flex;
            list-style-type: none; 
            margin: 0;             
            padding: 0;
            width: 100%;
            justify-content: space-between;

            .menu-item {
                opacity: .8;
                transition: opacity .5s ease-in-out;

                &:hover {
                    opacity: 1;
                }
            }

            .menu-item.active {
                opacity: 1;
            }
        }
    }
    
    .btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 4rem;
        gap: 40px;
      
        
        a.shop-btn {
            opacity: .8;
            transition: opacity .5s ease-in-out;
            border: 1px solid white;
            border-radius: 3rem;
            padding: .5rem .6rem;
            height: 38;
            width: 38;

            svg {
                margin: 1px -1px -1px 1px;
            }

            &:hover {
                opacity: 1;
            }
        }

        a.sign-up {
            opacity: .8;
            transition: opacity .5s ease-in-out;
            border: 1px solid white;
            border-radius: 3rem;
            padding: .5rem .6rem;

            &:hover {
                opacity: 1;
            }
        }
       
        a.visit-now {
            opacity: .8;
            transition: opacity .5s ease-in-out;
            border-radius: 3rem;
            padding: .5rem .65rem;
            background: white;
            color: black;
            &:hover {
                opacity: 1;
            }
        }
    }
}

    .welcome {
     background: linear-gradient(25deg, #1446a1, #266d96, #6391e7);
        a.shop-now{
            text-decoration: none;
            border-radius: 3rem;
            padding: .5rem .65rem;
            background: white;
            color: black;
            opacity: .8;
                transition: opacity .5s ease-in-out;

                &:hover {
                    opacity: 1;
                }  
            }
        a.text{
            color: #ffffff;
        }
        a.pict{
            
        }
    }





span {
    color: #ffffff;
}


.need {
    color:darkorange;
}